# PoP music files
data/music/*.ogg
data/music/*.mp3

# PoP Hall of Fame file
PRINCE.HOF

# PoP saved game file
PRINCE.SAV

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bat

# Debug files
*.dSYM/

# Dev-C++
*.layout

# CLion
.idea/
